<router-outlet />
<!-- Footer -->
<footer class="border-top py-5 mt-4  ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
            <div>
                <ul class="list-unstyled">
                    <li class="d-inline-block me-2">
                        <a class="text-decoration-none text-dark-hover transition-all"
                            href="https://www.instagram.com/ukonradlorenz/" target="_blank">
                            <i class="ri-instagram-fill fs-4"></i>
                        </a>
                    </li>
                    <li class="d-inline-block me-2">
                        <a class="text-decoration-none text-dark-hover transition-all"
                            href="https://www.facebook.com/U.KONRADLORENZ" target="_blank">
                            <i class="ri-facebook-fill fs-4"></i>
                        </a>
                    </li>
                    <li class="d-inline-block me-2">
                        <a class="text-decoration-none text-dark-hover transition-all"
                            href="https://x.com/ukonradlorenz" target="_blank">
                            <i class="ri-twitter-fill fs-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img src="./assets/images/logos/logo_Konrad.png" alt="Tu imagen" style="height: 60px;">
                
            </div>
        </div>
    </div>
</footer> <!-- / Footer-->