<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0">
    <div class="container-fluid">
        <div class="w-100">
            <div class="d-flex justify-content-between align-items-center flex-wrap">

                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                    <div class="d-flex align-items-center">
                        <div style="background-color: white; border-bottom: 1px solid #e5e7eb; padding: 20px;">
                            <img src="./assets/images/logos/Logo.jpg" alt="Logo" style="height: 40px;">
                        </div>
                    </div>
                </a>

                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">
                    <!-- Mobile Nav Toggler-->
                </ul>

                <!-- Main Navigation-->
                <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                    id="navbarNavDropdown">

                    <!-- Menu -->
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 d-flex justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Modulos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/inicio">Inicio</a></li>
                                <li><a class="dropdown-item" href="/usuarios">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/productos">Productos</a></li>
                                <li><a class="dropdown-item" href="/iniciosesion">Iniciar sesión</a></li>
                                <li><a class="dropdown-item" href="/registro">Registrarse</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>
<!-- / Navbar -->
